/* .App {
  text-align: center;
} */



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
#display {
  color: rgb(50, 211, 98);
  font-style: italic;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

#drum-pads {
  color: rgb(255, 192, 192);
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.drum-pad {
  border: 1px solid black;
  height: 20vh;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  

}

